{% set route = app.request.attributes.get('_route') %}
{% set route_params = app.request.attributes.get('_route_params') %}
{% set params = route_params|merge(app.request.query.all) %}

<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <h1><a href="/" class="scrollto">Shpak<span>Med</span></a></h1>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-has-children">
                    <a href="">{{ 'Products' | trans }}</a>
                    <ul>
                        {% for category in categories %}
                            <li><a href="#">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="menu-has-children">
                    <a href="#" class="text-capitalize">{{ 'Language' | trans }}</a>
                    <ul>
                        {% for locale in locales if locale != app.request.locale %}
                            <li class="text-capitalize">
                                <a href="{{ path(route, params|merge({ _locale: locale })) }}">
                                    {{ locale | upper | trans }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>