<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <h1><a href="/" class="scrollto">Shpak<span>Med</span></a></h1>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-has-children">
                    <a href="">{{ 'Products' | trans }}</a>
                    <ul>
                        {% for category in categories %}
                            <li><a href="#">{{ category.name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="menu-has-children">
                    <a href="" class="text-capitalize">{{ app.request.locale }}</a>
                    <ul>
                        {% for locale in locales %}
                            <li class="text-capitalize"><a href="{{ path('index', { '_locale' : locale }) }}">{{ locale }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>