{% extends 'layout/base.html.twig' %}

{% block title %}View {{ product.translate(app.request.locale).name }}{% endblock title %}

{% block body %}
    <!-- Page Content -->
    <div class="container mt-5">

        <div class="row">

            <div class="col-lg-2">
                <div class="list-group">
                    <a href="{{ path('product_list') }}"
                       class="list-group-item {{ (app.request.get('id') == null) ? 'active' : '' }}">
                        {{ 'All Products' | trans }}
                    </a>
                    {% for category in categories %}
                        <a href="{{ path('category_product_list', { id: category.id}) }}"
                           class="list-group-item {{ (product.category.id == category.id) ? 'active' : '' }} {{ (category.products.count == 0) ? 'disabled' : '' }}">
                            {{ category.translate(app.request.locale).name }}
                        </a>
                    {% endfor %}
                </div>
            </div>

            <div class="col-lg-10">
                <div class="card">
                    <img class="card-img-top img-fluid" src="http://placehold.it/900x400" alt="">
                    <div class="card-body">
                        <h3 class="card-title">
                            {{ product.translate(app.request.locale).name }}
                        </h3>
                        <p class="card-text">
                            {{ product.translate(app.request.locale).description | raw }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}